.homeroot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.p-card {
    width: 250px;
    margin: 10px;
    height: 100%;
}

.cimg {
    max-height: 200px;
    object-fit: cover;
}

.category {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100;
}

.showSuggestion {
    overflow-y: auto;
    max-height: fit-content;
}